USE [Nguyễn Danh Trường _2210900071]
GO
/****** Object:  Table [dbo].[NDT_SACH]    Script Date: 7/12/2024 1:00:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDT_SACH](
	[Ndt_MaSach] [int] NOT NULL,
	[Ndt_TenSach] [nvarchar](50) NULL,
	[Ndt_SoTrang] [int] NULL,
	[Ndt_NamXB] [int] NULL,
	[Ndt_MaTG] [char](10) NOT NULL,
	[Ndt_TrangThai] [bit] NULL,
 CONSTRAINT [PK_NDT] PRIMARY KEY CLUSTERED 
(
	[Ndt_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDT_TACGIA]    Script Date: 7/12/2024 1:00:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDT_TACGIA](
	[Ndt_MaTG] [char](10) NOT NULL,
	[Ndt_TenTacGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_NDT_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Ndt_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NDT_SACH] ([Ndt_MaSach], [Ndt_TenSach], [Ndt_SoTrang], [Ndt_NamXB], [Ndt_MaTG], [Ndt_TrangThai]) VALUES (1, N'Trường', 300, 2024, N'TG01      ', 1)
GO
INSERT [dbo].[NDT_TACGIA] ([Ndt_MaTG], [Ndt_TenTacGia]) VALUES (N'TG01      ', N'Nguyễn Danh Trường')
GO
ALTER TABLE [dbo].[NDT_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NDT_SACH_NDT_TACGIA] FOREIGN KEY([Ndt_MaTG])
REFERENCES [dbo].[NDT_TACGIA] ([Ndt_MaTG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NDT_SACH] CHECK CONSTRAINT [FK_NDT_SACH_NDT_TACGIA]
GO
