@{
    ViewBag.Title = "Nguyễn Danh Trường";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Lesson09 Nguyễn Danh Trường -Không Đạo Văn</h3>

    <address>
        K22CNT4- Môn Lập Trình ứng dụng wed ASP.net

    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Cá nhân :</strong> <a href="mailto:truong626215@gmail.com">truong626215@gmail.com</a>
    </address>
</main>>